@model IEnumerable<ConsultorioGeral.Models.Consulta>

@{ ViewData["Title"] = "Consultorio | Consultas";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Consultas </strong>
                <p> Abaixo estão todas as consultas cadastradas em nossa plataforma </p>

            </div>
        </header>

        <main>
            <center>
                <a asp-action="Create">Cadastrar nova consulta</a>
            </center>
            <br />
            <center>
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Data)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sintomas)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cpf)
                            </th>

                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sintomas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cpf)
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ConsultaId">
                                        <img src="~/img/editButton.svg" width="36" height="36" alt="Editar" />
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.ConsultaId">
                                        <img src="~/img/detailsButton.svg" width="36" height="36" alt="Ver Detalhes" />
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.ConsultaId">
                                        <img src="~/img/deleteButton.svg" width="36" height="36" alt="Excluir" />
                                    </a>

                                </td>
                            </tr>
}
                    </tbody>
                </table>
            </center>
            <br />
            <br />
            <hr />

        </main>
    </div>
    
</body>
