@model IEnumerable<ConsultorioGeral.Models.Medico>

@{ ViewData["Title"] = "Consultorio | Médicos";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Médicos cadastrados </strong>
                <p> Abaixo estão todos os médicos cadastrados em nossa plataforma </p>

            </div>
        </header>

        <main>

            <div class="card-body">
                <center>
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Crm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Especialidade)
                                </th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Crm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Especialidade)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MedicoId">
                            <img src="~/img/editButton.svg" width="36" height="36" alt="Editar" />
                        </a>
                        <a asp-action="Details" asp-route-id="@item.MedicoId">
                            <img src="~/img/detailsButton.svg" width="36" height="36" alt="Ver Detalhes" />
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.MedicoId">
                            <img src="~/img/deleteButton.svg" width="36" height="36" alt="Excluir" />
                        </a>
                    </td>
                </tr>}
                        </tbody>
                    </table>
                </center>
            </div>
            </br></br></br></br>

        </main>
    </div>
</body>