@model IEnumerable<Consulta>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Data)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Sintomas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cpf)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.ConsultaId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ConsultaId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ConsultaId">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
