@model ConsultorioGeral.Models.Paciente

@{
    ViewData["Title"] = "Deletar | Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Deletar paciente </strong>
                <p> Você tem certeza disso? </p>

            </div>
        </header>

        <main>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cpf)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cpf)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Idade)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Idade)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Sexo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Sexo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Endereco)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Endereco)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cep)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cep)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Telefone)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Telefone)
                </dd>
            </dl>

            <footer>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="PacienteId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Exibir lista</a>
                </form>
            </footer>
        </main>
    </div>
    </body>
    

