@model ConsultorioGeral.Models.Paciente
@using ConsultorioGeral.Models
@{ ViewData["Title"] = "Detalhes | Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">;
    List<Consulta> consultas = ViewBag.Consultas; }

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Cadastro do Paciente: @Html.DisplayFor(model => model.Nome)  </strong>
                <p> Preencha corretamente todos os campos </p>

            </div>
        </header>

        <main>
            <fieldset>
                <legend> Seus dados </legend>


                <div>

                    

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cpf)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cpf)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Idade)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Idade)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Sexo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Sexo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Endereco)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Endereco)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cep)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cep)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>
                    </dl>
                </div>
                </br>
            </fieldset>
            <fieldset>
                <legend> Consultas Marcadas </legend>
            </fieldset>
            <div class="row">
                @foreach (var consulta in consultas)
                {
                <div>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => consulta.Medico.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => consulta.Medico.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => consulta.Sintomas)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => consulta.Sintomas)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => consulta.Data)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => consulta.Data)
                    </dd>
                    <dt class="col-sm-2">
                        @if (!string.IsNullOrEmpty(consulta.Diagnostico))
                        {

                        @Html.DisplayNameFor(model => consulta.Diagnostico)}
                    </dt>
                    <dd class="col-sm-10">
                        @if (!string.IsNullOrEmpty(consulta.Diagnostico))
                        {

                        @Html.DisplayFor(model => consulta.Diagnostico)}
                    </dd>




                </div>}
            </div>
            <footer>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.PacienteId">
                        <img src="~/img/editButton.svg" wdit="42" height="42" alt="Editar" />
                    </a>
                    <a asp-action="Index">Exibir lista</a>
                </div>
            </footer>
        </main>
    </div>

    <!---->
    <!---->
</body>

