@model IEnumerable<Paciente>

@{
    ViewData["Title"] = "Consultorio | Pacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="~/img/back.svg">
                </a>
                <img src="~/img/warning.svg">
            </div>

            <div class="header-content">
                <strong> Pacientes cadastrados </strong>
                <p> Abaixo estão todos os pacientes cadastrados em nossa plataforma </p>

            </div>
        </header>

        <main>
            
            <div class="card-body">
                <center>

                            <table class="pure-table" manifest="tabela_pacientes">
                                <thread>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nome)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Cpf)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Sexo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Telefone)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thread>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cpf)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Sexo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Telefone)
                                            </td>

                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.PacienteId">
                                                    <img src="~/img/editButton.svg" width="36" height="36" alt="Editar" />
                                                </a>
                                                <a asp-action="Details" asp-route-id="@item.PacienteId">
                                                    <img src="~/img/detailsButton.svg" width="36" height="36" alt="Ver Detalhes" />
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.PacienteId">
                                                    <img src="~/img/deleteButton.svg" width="36" height="36" alt="Excluir" />
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                    </center>
            </div>
            <footer>

                <p>
                    <img src="~/img/warning.svg" alt="aviso">
                    Acesse! <br>
                    Lista de pacientes atualizada
                </p>
                <div class="card-footer bg-sucess text-center">
                    <a asp-action="Create" class="btn-success">Cadastrar novo paciente</a>
                </div>
            </footer>

        </main>
    </div>
</body>
