@model IEnumerable<Paciente>

@{
    ViewData["Title"] = "Pacientes cadastrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de pacientes</h1>

<div class="card-body">
    <table manifest="tabela_pacientes">
        <thread>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th></th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlunoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AlunoId">Detalhe</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlunoId">Deletar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="card-footer bg-sucess text-center">
    <a asp-action="Create" class="btn-success">Criar um novo paciente</a>
</div>
