@model IEnumerable<Medico>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="pure-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidade)
                </td>
             
             
            </tr>
        }
    </tbody>
</table>
